[submodule "mod/quiz"]
	path = mod/quiz
	url = https://github.com/The-Electrical-Training-Company/etcoquizchanges.git
[submodule "enrol/selma"]
	path = enrol/selma
	url = https://github.com/The-Electrical-Training-Company/selma.git
[submodule "blocks/grade_me"]
	path = blocks/grade_me
	url = https://github.com/The-Electrical-Training-Company/moodle-block_grade_me.git
[submodule "mod/coursecertificate"]
	path = mod/coursecertificate
	url = https://github.com/moodleworkplace/moodle-mod_coursecertificate.git
[submodule "mod/pulse"]
	path = mod/pulse
	url = https://github.com/bdecentgmbh/moodle-mod_pulse.git
[submodule "mod/reengagement"]
	path = mod/reengagement
	url = https://github.com/catalyst/moodle-mod_reengagement.git
[submodule "filter/generico"]
	path = filter/generico
	url = https://github.com/justinhunt/moodle-filter_generico.git
[submodule "lib/editor/atto/plugins/fullscreen"]
	path = lib/editor/atto/plugins/fullscreen
	url = https://github.com/dthies/moodle-atto_fullscreen.git
[submodule "enrol/autoenrol"]
	path = enrol/autoenrol
	url = https://github.com/bobopinna/moodle-enrol_autoenrol.git
[submodule "admin/tool/certificate"]
	path = admin/tool/certificate
	url = https://github.com/moodleworkplace/moodle-tool_certificate.git
[submodule "admin/tool/mergeusers"]
	path = admin/tool/mergeusers
	url = https://github.com/jpahullo/moodle-tool_mergeusers.git
[submodule "availability/condition/role"]
	path = availability/condition/role
	url = https://github.com/moodle-an-hochschulen/moodle-availability_role.git
[submodule "course/format/grid"]
	path = course/format/grid
	url = https://github.com/gjbarnard/moodle-format_grid.git
[submodule "course/format/onetopic"]
	path = course/format/onetopic
	url = https://github.com/davidherney/moodle-format_onetopic.git
[submodule "report/coursestats"]
	path = report/coursestats
	url = https://github.com/dired-ufla/coursestats.git
[submodule "report/overviewstats"]
	path = report/overviewstats
	url = https://github.com/dualcube/moodle-report_overviewstats.git
[submodule "theme/boost_union"]
	path = theme/boost_union
	url = https://github.com/moodle-an-hochschulen/moodle-theme_boost_union.git
